albumentations
python-dotenv
certifi
charset_normalizer
click
contourpy
cycler
fire
fonttools
globox
gradio==4.31.5
graphviz
huggingface-hub==0.23.2
idna
importlib_resources
joblib
kiwisolver
markdown_it_py
matplotlib
mdurl
numpy
onnx==1.14.0
onnxruntime-gpu==1.18.0
onnxruntime==1.15.1
onnxslim==0.1.31
opencv-python==4.9.0.80
packaging
pandas
psutil==5.9.8
py-cpuinfo==9.0.0
pybboxes
pycocotools==2.0.7
pyparsing
python-dateutil
pytorch-metric-learning
pytz
Pillow
PyYAML==6.0.1
Pygments
requests
rich
safetensors==0.4.3
scikit_learn
scipy==1.13.0
seaborn
shapely
six
termcolor
terminaltables
threadpoolctl
torch==2.0.1
torchvision==0.15.2
tqdm
typing_extensions
urllib3
zipp
